.Header{
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;

}
.navigation{
    padding-left: 5%;
    padding-right: 5%;
}
.brand{
    color: #282c34;
    font-weight: bolder;
    font-family: Montserrat;
}
.menu_items{
    color: #635A50;
    font-family: Montserrat;

    font-weight: bold;
}
.navigation_items{
    margin-left:5%;
    width: 50%;
    justify-content: space-between;
}
button {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: #635A50;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
}

button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #FFFFFF;
    transition: 0.5s;
    transform-origin: center;
}

button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #FFFFFF;
    transition: 0.5s;
}

button:hover::before, button:hover::after {
    transform: scale(0)
}

button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}
