.Header{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 10vh;

}
.navigation{
    padding-left: 5%;
    padding-right: 5%;
}
.brand{
    color: #282c34;
    font-weight: bolder;
    font-family: Montserrat;
}
.menu_items{
    color: #181108;
    font-family: Montserrat;
    font-weight: bold;
}
.navigation_items{
    margin-left:5%;
    width: 60%;
    justify-content: space-between;
}
.button {
    display: flex;
}

.box {
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    background: #F28A4B;
    overflow: hidden;
}

.box:before {
    content: "L";
    position: absolute;
    top: 0;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
}

.box:nth-child(2)::before {
    transform: translateY(-100%);
    content: 'O';
}

.box:nth-child(3)::before {
    content: 'G';
}

.box:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'I';
}

.box:nth-child(5)::before {
    content: 'N';
}

.button:hover .box:before {
    transform: translateY(0);
}
